header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    height: 14vh;
}

.boxMenu{
    width: 30%;
    ul{
       display: flex;
       justify-content: space-between;
       font-size: 32px;
    }
}

// ------ Main -----------

main {
    height: 76vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteinerBoasFestas {
    width: 35%;
    text-align: end;

    h3 {
        font-size: 35px;
        font-weight: 300;
    }
    h2 {
        font-size: 45px;
        font-weight: 700;
    }
}

.conteinerPoema {
    font-size: 20px;
    line-height: 30.54px;
}

// ------ Footer -----------

footer {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10vh;
}

.navFooter {
    width: 30%;
    ul {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
    }

    img {
        width: 4vw;
        border-radius: 50%;

        &:hover{
            box-shadow: #8dabff 0px 54px 55px, #8dabff 0px -12px 30px, #8dabff 0px 4px 6px, #8dabff 0px 12px 13px, #8dabff 0px -3px 5px;
            color: #00229c;
            transform: scale(1.2);
            transition: 1s;
        }
    }
}